# Ignore virtual envs
.venv/
venv/
ENV/

# Ignore output/build artifacts
cdk.out/
pillow_layer.zip

# Python cache
__pycache__/
*.py[cod]

# Lambda layer build artifacts
lambda_layer_pillow/lambda_layer_pillow/
lambda_layer_pillow/python/

# Secrets and system files
.env
.DS_Store


# config file
config.yaml